.game-detail-container {
    padding: 30px;
    background: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .game-card {
    background: #1f1f1f;
    padding: 30px;
    border-radius: 20px;
    max-width: 900px;
    width: 100%;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .game-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .game-info {
    color: #ffffff;
  }
  
  .game-info .game-title {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .game-info .game-desc,
  .game-info .game-price {
    font-size: 1.2rem;
  }
  
  .game-info .play-button {
    background: var(--second);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
  }
  
  .game-info .play-button:hover {
    background: var(--primary);
  }
  
  .info-box {
    background: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Başlıklar için stil */
  .info-box h3,
  .rating-comments-container h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff; /* Beyaz renk ile daha okunabilir */
    margin-bottom: 15px;
  }
  
  /* Rating ve Yorumlar başlığı */
  .rating-comments-container h4 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #ffffff; /* Yorum başlıklarını beyaz yapıyoruz */
  }
  
  .comment-list {
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: none;
  }
  
  .comment-list li {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 10px;
  }
  